@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
    font-weight: bold;
    color: #ef6c2f;
}

h1 {
    font-size: 48px;
    padding-bottom: 10px;
}

h1 a, h1 a:hover {
    color: #ef6c2f;
    text-decoration: none;
}

.table > thead > tr > th { 
    white-space: nowrap;
}

.about {
    font-size: 90%;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}

a {
    color: #ef6c2f;
}

.phone-cont {
  font-size: 2em;
  font-weight: bold;
}

.phone-cont i {
  font-size: 2em !important;
}
btn-contact {
    background: #ef6c2f;
}

small, .small {
    font-size: 75%;
}

.ocw-banner {
    margin: auto;
}

.no-script {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9999;
    background: rgba(255,255,255,.9);
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}


@media (max-width: 599px) {

    .lead {
        text-align: left;
    }
    .no-script {
    font-size: 16px;
    }
}

@media (max-width: 992px) {


    #address-search {
        border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    }

}
